@model Student
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
    <p>Harika ! Seninle beraber derste olacak kişileri görmek ister misin ? <a asp-action="EnrolledStudentList" asp-controller="Home" class="btn btn-primary" >Görmek istersen tıkla</a></p>