
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}



<p>Kayıt Ekranına hoş geldin!</p>

Türkay Ürkmez mentorluğunde eğlenceli, hiçbir yerde bulamayacağınız kaliteli bir eğitim sizleri bekliyor. Katılmak için <a asp-action="Enroll" asp-controller="Home" class="btn btn-primary">formu</a> doldurunuz!
